# ===== Django Core =====
SECRET_KEY=CHANGE_ME_TO_A_RANDOM_64_CHAR_STRING
DEBUG=False
ALLOWED_HOSTS=ipcphotos.com,www.ipcphotos.com,188.253.2.86

# ===== CORS (فرانت‌اند) =====
CORS_ALLOWED_ORIGINS=https://ipcphotos.com,https://www.ipcphotos.com

# ===== PostgreSQL =====
DB_NAME=deldar_db
DB_USER=deldar_user
DB_PASSWORD=CHANGE_ME_STRONG_PASSWORD
DB_HOST=127.0.0.1
DB_PORT=5432

# ===== Redis =====
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

# ===== SMS Gateway (IranPayamak) =====
MOCK_SMS_GATEWAY=False
SMS_API_KEY=UbVzvuEiOEJR3ZZMF5cBPCPUSTNT9uuELHFHNkihi2JpCPCYE0
SMS_LINE_NUMBER=50002178584000
SMS_OTP_PATTERN=pXMLHeNMQW
SMS_WELCOME_PATTERN=Yta6XeoECQ

# ===== SSL =====
SECURE_SSL_REDIRECT=False
